<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="styles.css"></link>
</head>
<body>
<form action="{% url 'timeline:submit_entry'%}" method="post">
{% csrf_token %}
    <fieldset>
        <h1>Fill in Event Details</h1>
        <label>Name:</label>
        <input type="text" name="event_name">
        <br>
            <label>Involved Organization:</label>
            <input type="text" name="organization">
        </br>
        <br>
            <label>Involved Person:</label>
            <input type="text" name="person">
        </br>
    </fieldset>
    <input type="submit" value="Submit">
</form>
</body>
</html>