<!DOCTYPE html>
<html lang="en">
<head>
    <title>Title</title>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css"/>
</head>
<body>
<div class="timeline">
  {% if events %}
    {% for e in events %}
      <div class="container left">
        <div class="content">
          <li><a href="{% url 'timeline:detail' e.pk %}">{{e.name}}</a>
        </div>
      </div>
    {% endfor %}
  {% else %}
    <p>No Events Available</p>
  {% endif %}
<!--  <div class="container right">-->
<!--    <div class="content">-->
<!--      <h2>2016</h2>-->
<!--      <p>Lorem ipsum dolor sit amet, quo ei simul congue exerci, ad nec admodum perfecto mnesarchum, vim ea mazim fierent detracto. Ea quis iuvaret expetendis his, te elit voluptua dignissim per, habeo iusto primis ea eam.</p>-->
<!--    </div>-->
<!--  </div>-->
</div>

</body>
</html>
